<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Detail úkolu</h1>
    <p>Název: <%= todo.title %>

        <form method="post" action="/rename-todo/<%= todo.id %>">
        <input name="newTitle"/>
        <button type="submit">Přejmenovat</button>
    </form>
    </p>
    <p>Stav: <%= todo.done ? 'Hotovo' : 'Nerozděláno' %>
    </p>



     <% if (todo.done) { %>
          <ul>
            <li>
              <a href="/toggle-todo/<%= todo.id %>">označit jako nehotové</a>
            </li>
            <li>
              <a href="/remove-todo/<%= todo.id %>">odstranit</a>
            </li>
          </ul>
        <% } else { %>
          <ul>
            <li>
              <a href="/toggle-todo/<%= todo.id %>">označit jako hotové</a>
            </li>
          </ul>
        <% } %>


    <a href="/">Zpět na seznam</a>
</body>

</html>